{:builds
       {:test         {:output-to       "target/karma/test.js"
                       :ns-regexp       "-test$"
                       :target          :karma}
        :test-browser {:target          :browser-test
                       :test-dir        "target/browser/"
                       :ns-regexp       "-test$"
                       :runner          shadow.test.browser
                       :ignore-warnings true
                       :devtools        {:http-port 8091
                                         :hud       false
                                         :http-root "target/browser/"}}}
 :lein {:profile "+dev"}}
